@model IEnumerable<InvitorDB.Models.Person>

@{
    ViewData["Title"] = "IndexUsers";
}

@*@await Component.InvokeAsync("News", new { bgColor = "#6699FF" })*@

<h3>Index Users</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Username
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddRoleToUser" asp-route-id="@item.Id">Add Role</a> |
                <a asp-action="RemoveRoleFromUser" asp-route-id="@item.Id">Remove Role</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a href="/Identity/Account/Register">Create New User</a>
